In [13]:
l1=['ramesh','suresh','sathish']
l2=[20,30,40]
for i in range(len(l1)):
    print(f'{l1[i]} age is {l2[i]}')

ramesh age is 20
suresh age is 30
sathish age is 40

$zip$
- zip is used to combine two lists

In [21]:
l1=['ramesh','suresh','sathish']
l2=[20,30,40]
for i,j in zip(l1,l2):    # here i for loop we use zip i is variable of l1 and j is represent l2 variable 
    print(f'{i} age is {j}')

ramesh age is 20
suresh age is 30
sathish age is 40

In [23]:
l1=['ramesh','suresh','sathish']
l2=[20,30,40]
for i in zip(l1,l2):    # here i for loop we use zipincase we use only i variable i is represent as both variables
    print(f'{i} age is {i}')

('ramesh', 20) age is ('ramesh', 20)
('suresh', 30) age is ('suresh', 30)
('sathish', 40) age is ('sathish', 40)

In [25]:
l1=['ramesh','suresh','sathish']
l2=[20,30,40]
l3=['hyd','chennai','pune']
for i,j,k in zip(l1,l2,l3):    # here i for loop we use zipincase we use only i variable i is represent as both variables
    print(f'{i} age is {j} from {k}')

ramesh age is 20 from hyd
suresh age is 30 from chennai
sathish age is 40 from pune

# **dictionary**
- strings represent in quotes
- list represent in square brackets
- tuple represents in paranthesis
- sets represents in curly braces with only one value
- dictionary is also represent in curly braces with two variables
- dictionary has key:value pair
  - one element is called : key
  - another element is called : value

In [ ]:
l1=['ramesh','suresh','sathish']
l2=[20,30,40]

{key:value}
{key1:value1,key2:value2,key3:value3}

In [31]:
dict1={'ramesh':20,"suresh":30,"sathish":40}
dict1

{'ramesh': 20, 'suresh': 30, 'sathish': 40}

In [33]:
type(dict1)

dict

- intialization
- inbuilt-functions
- max
- min
- len
- sum
- sorted
- reversed
- index
- mutable vs immutable
- concatenation
- slicing
- methods

# intialization

In [49]:
dict2={20:'ramesh',30:"suresh",40:"sathish"}
dict2

{20: 'ramesh', 30: 'suresh', 40: 'sathish'}

In [39]:
dict3={"hello":[1,2,3]}
dict3

{'hello': [1, 2, 3]}

In [41]:
dict4={[1,2,3]:"hello"}

TypeError: unhashable type: 'list'

In [43]:
dict5={"name":"venkatesh"}
dict5

{'name': 'venkatesh'}

In [45]:
dict6={"20":30}
dict6

{'20': 30}

In [47]:
dict7={20:30}
dict7

{20: 30}

- keys are important
- when same keys but different value
- it will take the latest value

In [54]:
d6={"class":20,"class":20}
d6
# duplicate values are allowed in the dictionary

{'class': 20}

# - list is mutable 
- tuple is immutable
- so list can not be a key
**keys are importand**

SyntaxError: invalid syntax. Perhaps you forgot a comma? (504034804.py, line 1)

In [73]:
dict1={'ramesh':20,"suresh":30,"sathish":40}
len_=len(dict1)
min_=min(dict)
max_=max(dict1)
sorted_=sorted()
reversed_=reversed()
len_,min_,max_,sorted_,reversed

TypeError: 'type' object is not iterable

In [69]:
d=max(dict1)
print(d)

suresh

- max/min/sorted can work for homogeneous
- reversed is work in heterogenious
- sum is only work for numbers only

# index

In [82]:
dict1={'ramesh':20,"suresh":30,"sathish":40}
dict1[0] # it not workd with index value 
# it only access by using keys

KeyError: 0

In [84]:
dict1={'ramesh':20,"suresh":30,"sathish":40}
dict1['ramesh']

20

In [96]:
dict1={'ramesh':20,"suresh":30,"sathish":40}
for i in dict1:    # in for loop also keys are stored in i
    print(f'{i} has age is {dict1[i]}')

ramesh has age is 20
suresh has age is 30
sathish has age is 40

- whenwver we iterate using dictionary for loop in operator it will give you keys
- if we want to get value we will access through keys only
- key will work as index

In [101]:
d1={"fruits":['apple','banana','cherry']}
d1['fruits'][2]

'cherry'

In [115]:
d1={'Fruites':{'Appple':['Sweet','Green','custred']}}
d1['Fruites']['Appple'][1]

'Green'

In [131]:
d1={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],
                               '2kg':['None']}]}
d1['Cost'][0]['2kg'][0]

'None'

In [151]:

d1={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d1['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

In [153]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- clear
- copy
- items
- values
- keys
- get
- pop

# **dictionary methods**

pop
## clear
- remove all the elements from the list

In [11]:
dict1={'ramesh':20,"suresh":30,"sathish":40}
dict1.clear()
dict1

{}

In [5]:
dict2={2:20,3:30,4:40}
dict2

{2: 20, 3: 30, 4: 40}

In [9]:
dict2.clear()
dict2

{}

# copy
- it copy the dictionary in to another variable
- it shallow copy the elements

In [19]:
dict2={2:20,3:30,4:40}
dict3=dict2.copy()
print(dict2)
print(dict3)

{2: 20, 3: 30, 4: 40}
{2: 20, 3: 30, 4: 40}

In [21]:
# from above we observe that the keys and values in the two dictionary are same

# items
- a set-like object providing a view on D's item
- it returns all the keys with values in the dictionary

In [29]:
d={'name':"venkatesh",'age':20,'location':'hyd'}
c=d.items()
print(c)

dict_items([('name', 'venkatesh'), ('age', 20), ('location', 'hyd')])

# values
- it returns the values present in the dictionary
- it gives all the values with out keys

In [32]:
d={'name':"venkatesh",'age':20,'location':'hyd'}
d.values()

dict_values(['venkatesh', 20, 'hyd'])

In [37]:
dict2={2:20,3:30,4:40}
dict2.values()

dict_values([20, 30, 40])

# keys 
- it returns the only keys in dictionary

In [42]:
d={'name':"venkatesh",'age':20,'location':'hyd'}
d.keys()

dict_keys(['name', 'age', 'location'])

In [44]:
dict2={2:20,3:30,4:40}
dict2.keys()

dict_keys([2, 3, 4])

# get 
- it returns the values in the dictionary
- we give the key element 
- it gives the value for the key

In [46]:
dict2={2:20,3:30,4:40}
dict2.get(3)

30

In [51]:
d={'name':"venkatesh",'age':20,'location':'hyd'}
d.get("name")

'venkatesh'

In [53]:
d.get('location')

'hyd'

In [55]:
d.get('age')

20

# pop
- it removes the elements from the dictionary
- remove specified key and return the corresponding value.
- If the key is not found, return the default if given; otherwise,
raise a KeyError.
- at least one argument we can provide otherwise it gives error
- - remove the key and return value as output

In [57]:
d={'name':"venkatesh",'age':20,'location':'hyd'}
d.pop("name")

'venkatesh'

In [60]:
d={'name':"venkatesh",'age':20,'location':'hyd'}
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [63]:
d={'name':"venkatesh",'age':20,'location':'hyd'}
d.pop("age")

20

# zip
- it combines the lists in to dictionary
- it contains two sets to change

In [3]:
names=["ramesh","suresh","rakesh"]
age=[20,30,55]
dict1={} # create a empty dictionary to insert keys and values from above lists
dict1["ramesh"]=20
dict1["suresh"]=30
dict1["rakesh"]=55
dict1

{'ramesh': 20, 'suresh': 30, 'rakesh': 55}

In [7]:
# from the above code is hard coded so make it simple by using zip
names=["ramesh","suresh","rakesh"]
age=[20,30,55]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'ramesh': 20, 'suresh': 30, 'rakesh': 55}

**how to convert dictionary to list**

In [28]:
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
l=[]
l1=[]
for keys in d:
    l.append(keys)
    l1.append(d[keys])
print(l)
print(l1)

['ramesh', 'suresh', 'rakesh']
[20, 30, 55]

In [30]:
# string to list # split
# list to string # join
# list to dictionary (zip)
# dict to list#

In [34]:
# make the simple code for above
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
l=[keys for keys in d]
l1=[d[keys] for keys in d]
l,l1

(['ramesh', 'suresh', 'rakesh'], [20, 30, 55])

# dictionary comprehension
- same as list comprehension
- but difference is dict contains two values
- so we take i,j as two variables one is keys and another is values

In [37]:
names=["ramesh","suresh","rakesh"]
age=[20,30,55]
d={i:j for i,j in zip(names,age)}
d

{'ramesh': 20, 'suresh': 30, 'rakesh': 55}

In [40]:
names=["ramesh","suresh","rakesh"]
age=[20,30,55]
d={i:j for i,j in zip(age,names)}
d

{20: 'ramesh', 30: 'suresh', 55: 'rakesh'}

In [42]:
names=["ramesh","suresh","rakesh"]
age=[20,30,55]
d={j:i for i,j in zip(names,age)}
d

{20: 'ramesh', 30: 'suresh', 55: 'rakesh'}

In [46]:
names=["ramesh","suresh","rakesh"]
age=[20,30,55]
d={i:j for j,i in zip(age,names)}
d

{'ramesh': 20, 'suresh': 30, 'rakesh': 55}

**mutable-immutable**
- lists are mutaable
- strings are mutable
- tuple are immutable
- dictionary also modify we can modify the value of a dictionary

In [51]:
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
d["ramesh"]=40
d

{'ramesh': 40, 'suresh': 30, 'rakesh': 55}

- dictionary is similar to data base operations
- keys are always unique but values can change

# concatenation

In [61]:
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
d1={"fruit":"apple"}
d+d1 # it fails to concatenate but works inmethods

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

# items-values-keys

In [64]:
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
d.items()

dict_items([('ramesh', 20), ('suresh', 30), ('rakesh', 55)])

In [66]:
d.keys()

dict_keys(['ramesh', 'suresh', 'rakesh'])

In [68]:
d.values()

dict_values([20, 30, 55])

- dict keys is a type has keys
- it is looks like list but has not list
- we cannot use list methods here
- for that we need convert dict keys to list

In [73]:
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
list(d.keys()) # now it convert in to list

['ramesh', 'suresh', 'rakesh']

In [75]:
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
d.keys() # it is dict type
list(d.keys()) # now it convert in to list

['ramesh', 'suresh', 'rakesh']

In [77]:
# dict to list with three method 
# 1st one with out using methods
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
l=[]
l1=[]
for i in d:
    l.append(i)
    l1.append(d[i])
print(l,l1)

['ramesh', 'suresh', 'rakesh'] [20, 30, 55]

In [79]:
# 2nd method using dict comprehension
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
l3=[i for i in d]
l4=[d[i] for i in d]
l3,l4

(['ramesh', 'suresh', 'rakesh'], [20, 30, 55])

In [81]:
# 3rd method using method list directly
d={'ramesh': 20, 'suresh': 30, 'rakesh': 55}
keys=list(d.keys())
value=list(d.values())
keys,value

(['ramesh', 'suresh', 'rakesh'], [20, 30, 55])

In [85]:
# Q) d={'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55}
# ans={'ramesh': '20', 'suresh': '30', 'rakesh': '55'}
d={'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55}
key=[i.lower() for i in list(d.keys())]
val=[str(i) for i in list(d.values())]
ans={key:val for key,val in zip(key,val)}
ans

{'ramesh': '20', 'suresh': '30', 'rakesh': '55'}

In [87]:
d3={'ramesh': '20', 'suresh': '30', 'rakesh': '55'}
# convert in to all keys are capital and all values are int
k=[i.upper() for i in list(d.keys())]
v=[int(i) for i in list(d.values())]
d4={k:v for k,v in zip(k,v)}
d4

{'RAMESH': 20, 'SURESH': 30, 'RAKESH': 55}

# get method
- Return the value for key if key is in the dictionary, else default
- key is not present it will give nothing

In [90]:
d={'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55}
d.get("Rakesh")

55

In [ ]:
d={'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55}
d.get("Rakesh") # ans 
d.get("r")  # no ans and no error 
#######################################################
# in normal way  we get value using key
# but the element is not in dict it gives error
# so we use get method()
d={'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55}
d["r"] # it gives error

# update
- it update the dictionary and over write the dictionary

In [95]:
d={'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55}
d1={"fruits":"apple"}
d.update(d1)
d

{'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55, 'fruits': 'apple'}

In [110]:
d.update(apple=200)
d

{'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55, 'fruits': 'apple', 'apple': 200}

In [116]:
d.update([(200,"marks")])
d

{'Ramesh': 20,
 'Suresh': 30,
 'Rakesh': 55,
 'fruits': 'apple',
 'apple': 200,
 200: 'marks'}

In [118]:
t=(40,"mango")
l=[t]
d.update(l)
d

{'Ramesh': 20,
 'Suresh': 30,
 'Rakesh': 55,
 'fruits': 'apple',
 'apple': 200,
 200: 'marks',
 40: 'mango'}

- concatenation of two dictionary fails
- but we can combine two dictionary using update() method

In [125]:
d={'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55}
d1={"fruits":"guavva"}
d.update(d1) # 1st method
d.update(guava=20) # 2nd method
d.update([('kg',55)]) # 3rdmethod
d

{'Ramesh': 20,
 'Suresh': 30,
 'Rakesh': 55,
 'fruits': 'guavva',
 'guava': 20,
 'kg': 55}

**pop vs pop_item**
- pop expected a key, corresponding value will be removed
    - pop will return the value which is removing
- po-item has no arguments ,last key-value pair will be removed
    - popitem return the last key-value pair
    - by default it removes last in first out

In [132]:
d={'Ramesh': 20,'Suresh': 30,'Rakesh': 55,'fruits': 'guavva','guava': 20,'kg': 55}
d.pop("kg") # pop here expecting a key and return value

55

In [134]:
d={'Ramesh': 20,'Suresh': 30,'Rakesh': 55,'fruits': 'guavva','guava': 20,'kg': 55}
d.popitem()

('kg', 55)

# del

In [141]:
l=[111,222,333,44,55]
del l[0]
l

[222, 333, 44, 55]

In [143]:
del l # here l is deleted
l

NameError: name 'l' is not defined

In [147]:
d={'Ramesh': 20,'Suresh': 30,'Rakesh': 55,'fruits': 'guavva','guava': 20,'kg': 55}
del d["fruits"]

In [149]:
d

{'Ramesh': 20, 'Suresh': 30, 'Rakesh': 55, 'guava': 20, 'kg': 55}

In [153]:
del d # here d is deleted here
d

NameError: name 'd' is not defined

In [157]:
d={'Ramesh': 20,'Suresh': 30,'Rakesh': 55,'fruits': 'guavva','guava': 20,'kg': 55}
del(d)
d

NameError: name 'd' is not defined

In [161]:
d={'Ramesh': 20,'Suresh': 30,'Rakesh': 55,'fruits': 'guavva','guava': 20,'kg': 55}
del(d["Suresh"])
d

{'Ramesh': 20, 'Rakesh': 55, 'fruits': 'guavva', 'guava': 20, 'kg': 55}

In [ ]:
count in strings also list

index in string also list

find in string but not in list

pop in list also in dictionary

remove in list but in dictionary popitem

concatenaton in list======extend in list

access value using key in dict====get method

del for list and dictionary

sorted and reversed for all data types