- list comprehension is a way to write the code line in a single line
- whenever we use for loops and if conditions the time will be increases
- list comprehension will able to write for loop and if condition in a single line
- which reduce the time to get the output

In [2]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [6]:
# in list
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# method-1: only for loop

In [ ]:
list1=[<code here>]
list1={<output here>]

In [9]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list2=['hyd','chennai','mumbai','pune']
list3=[i.title() for i in list2]
list3

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [25]:
l2=['hyd','chennai','mumbai','pune']
ans=[i.capitalize() for i in l2]
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [27]:
ans=[i.capitalize() for i in ['hyd','chennai','mumbai','pune']]
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [37]:
# basic ans 
l2=['hyd','chennai','mumbai','pune']
ans=[]
for i in l2:
    print(l2.index(i)*10)

# list comprehension method
ans=[l2.index(i)*10 for i in l2]  # it gives single answer
ans

0
10
20
30

[0, 10, 20, 30]

In [45]:
l2=['hyd','chennai','mumbai','pune']
summ=0
for i in l2:
    summ+=l2.index(i)
print(summ)   

# using list comprehension
l2=['hyd','chennai','mumbai','pune']
ans=[l2.index(i) for i in l2]
print(sum(ans))

6
6

# method-2
- for loop with if condition

In [48]:
l2=['hyd','chen#ai','mu#bai','pune']
ans=[]
for i in l2:
    if '#' in i:
        ans.append(i)
ans

['chen#ai', 'mu#bai']

In [52]:
# using list comprehension   [<output> <for loop> <if condition>]
l2=['hyd','chen#ai','mu#bai','pune']
ans=[i for i in l2 if "#" in i]
ans

['chen#ai', 'mu#bai']

In [54]:
l2=['hyd','chen#ai','mu#bai','pune']
ans=[i for i in l2 if "#" not in i]
ans

['hyd', 'pune']

In [62]:
#Q)3) list1=[100,20,27,38,47,52,87]
l3=[100,20,27,38,47,52,87]
even=[i for i in l3 if i%2==0]
odd=[i for i in l3 if i%2!=0]
print(even)
print(odd)

[100, 20, 38, 52]
[27, 47, 87]

# method 3
# for loop-if-else

In [67]:
# syntax:[<if output> <if condition>else<else output> <for loop>]

In [88]:
l3=[100,20,27,38,47,52,87]
ans1=['even' if i%2==0 else 'odd' for i in l3]
ans1

['even', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [92]:
l3=[100,20,27,38,47,52,87]
ans1=[f'even{i}' if i%2==0 else f'odd{i}' for i in l3]
ans1

['even100', 'even20', 'odd27', 'even38', 'odd47', 'even52', 'odd87']

In [94]:
l=[45,76,89,53,67,90,82,49,33,99]
# 1. filter the students who passes marks >=50
# 2. calculate grades of all the students
        # A: 85+,B:70-85C: 50-69 D:<50
#3. add 5 grace marks to students who failed <50
# 4. find the average marks of the calss 


# 1) ans 
l=[45,76,89,53,67,90,82,49,33,99]
l1=[i for i in l if i>=50]
l1

[76, 89, 53, 67, 90, 82, 99]

In [98]:
# 2. calculate grades of all the students
        # A: 85+,B:70-85C: 50-69 D:<50
l=[45,76,89,53,67,90,82,49,33,99]
A=[i for i in l i if>85]
B=[i for i in l if i>=70 and i<=85]
C=[i for i in l if i>=50 and i<70]
D=[i for i in l if i<50]
print(A)
print(B)
print(C)
print(D)

[89, 90, 99]
[76, 82]
[53, 67]
[45, 49, 33]

In [102]:
#3. add 5 grace marks to students who failed <50
l=[45,76,89,53,67,90,82,49,33,99]
ans=[i+5 for i in l if i<50] 
ans

[50, 54, 38]

In [112]:
# 4. find the average marks of the calss
l=[45,76,89,53,67,90,82,49,33,99]
average=sum(l)/len(l)
print(average)

68.3

**method-4: for if elif else**
- there is no elif in list comprehension
- elif also we can write : else+if

In [ ]:
- method-3 [<if output><if condition>else<else output>]
- method-4 [<if output><if condition>else<elif output> <elif condition>else <else output><for loop>]

In [129]:
l=[45,76,89,53,67,90,82,49,33,99]
[f'A:{i}' if i>=85 else f'B:{i}' if i>=70 else f'C:{i}' if i>=50 else f'D:{i}' for i in l]

['D:45',
 'B:76',
 'A:89',
 'C:53',
 'C:67',
 'A:90',
 'B:82',
 'D:49',
 'D:33',
 'A:99']

**Walrus operator**
- list comprention = will not work
- if you want to write equal to(=), then will use Walrus operatoris (:=)

In [3]:
l7=[45,76,89,53,67,90,82,49,33,99]
total=0
ans1=[total:=total+i for i in l7 ]
total/len(ans1)

68.3