# set 
- set is a mutable
- set can accept the heterogenious values
- set cannot accept the duplicate values
- set cannot preserve insertion order
- set cannot accept the index ans slicing operations

In [1]:
s={1,11,2,2,}
s

{1, 2, 11}

In [3]:
s[1] #cannot accept the indexing in set

TypeError: 'set' object is not subscriptable

In [6]:
s={1,11,2,2,}
type(s)

set

type
print
len
max
min
reversed
sorted
index operations
concatenation
mutable / immutable
slicingble slicing

**len**
- to find the length of the set

In [10]:
s={1,2,3,4,5,6,7,5}
len(s)

7

**max**
- to find the maximum number

In [13]:
s={1,2,3,4,5,6,7,5}
max(s)

7

**min**
- to get the minimum number

In [16]:
s={1,2,3,4,5,6,7,5}
min(s)

1

# reversed 
- to reverse the set
- in set reversed is not work
- because the set does not contain index or slicing

In [28]:
s={1,2,3,4,5,6,7,5}
reversed(s)

TypeError: 'set' object is not reversible

**sorted**
- sorted the set in accending order or decending order
- sorted is worked because it compare the numbers

In [33]:
sorted(s)

[1, 2, 3, 4, 5, 6, 7]

# index operation
- index operation is not work in set
- the set already store the values in preserve order
- the index values are not present in set

# concatenation
- in concatenation both add
- and mul concatenations are not work

In [41]:
s={1,2,3,4,5,6,7,5}
s1={9,8}
print(s+s1)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [44]:
s*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

# mutable
- we cannot replace the elements using index in set
- but we use methods to replace the value
- thetre are two methods 
  - add()
  - update()

In [49]:
s={1,2,3,4,5,6,7,5}
s[3]="h"
s

TypeError: 'set' object does not support item assignment

In [52]:
s.add("h")
s

{1, 2, 3, 4, 5, 6, 7, 'h'}

# **set methods**

In [57]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

- add()
- clear()
- copy()
- difference()
- discard()
- pop()
- remove()
- union()
- update()
- is disjoint()
- is subset()
- is superset()

# add()
- to add the values in the set
- add the values in order

In [61]:
s={9,5,3,7,2,4}
s.add(1)
s

{1, 2, 3, 4, 5, 7, 9}

In [64]:
s={9,5,3,7,2,4}
s.add("hai")
s

{2, 3, 4, 5, 7, 9, 'hai'}

In [5]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}
set1.add(set2)

#{10, 20, 30, 40, 50, 60, 70}

TypeError: unhashable type: 'set'

In [76]:
s11={9,5,3,7,2,4,{"hello","hai"}}
s

TypeError: unhashable type: 'set'

# clear()
- clear all the elements in the set
- it returns empty set

In [81]:
s={9,5,3,7,2,4}
s.clear()
s

set()

# copy()
- it copy the set and store in another variable

In [85]:
s={9,5,3,7,2,4}
s1=s.copy()
s1

{2, 3, 4, 5, 7, 9}

# difference()
- return thr difference of two are more sets as a new set
- take two sets and return the difference in another new set
- it shows the different values in given set only

In [90]:
s={1,2,3,"hai"}
s1={3,1,"hello"}
s2=s.difference(s1)
s2

{2, 'hai'}

In [97]:
s2=s1.difference(s)
s2

{'hello'}

# difference update()
- remove all the same elements of the set
- and update same set with different values

In [114]:
s3={1,2,3,"hai","apple"}
s4={3,1,"hello",5,6,7,"class"}
s3.difference_update(s4)
s3 # we can observe the set s3 common in s4 are removed and s3 set will update with different letters

{2, 'apple', 'hai'}

In [118]:
s3={1,2,3,"hai","apple"}
s4={3,1,"hello",5,6,7,"class"}
s4.difference_update(s3)
s4 # we give the which set we want to update that set gives first and then difference update

{5, 6, 7, 'class', 'hello'}

# discard()
- remove an element from the set 
- if it is a member
- if the element is not in the set
- it does not give error it remains same

In [127]:
s4={3,1,"hello",5,6,7,"class"}
s4.discard("error") # here we observe the set does not contain "error" but it does not raise error
s4

{1, 3, 5, 6, 7, 'class', 'hello'}

In [135]:
s4={3,1,"hello",5,6,7,"class"}
s4.discard("class") # here we observe the set contain "class" it removes from the set
s4

{1, 3, 5, 6, 7, 'hello'}

# intersection()
- it returns the intersection of two sets
- it returns in a new set
- it returns only common elements in both the sets in new set

In [140]:
s3={1,2,3,"hai","apple"}
s4={3,1,"hello",5,6,7,"class"}
s=s3.intersection(s4) # it returns the intersection elemeents only
s

{1, 3}

In [142]:
s3={1,2,3,"hai","apple"}
s4={3,1,"hello",5,6,7,"class"}
s=s4.intersection(s3) # it returns the intersection elemeents only
s

{1, 3}

# insertion_update()
- here update means overwrite the set 
- the set over write with the common elements in the both sets

In [149]:
s3={1,2,3,"hai","apple"}
s4={3,1,"hello",5,6,7,"class"}
s3.intersection_update(s4) # it returns the intersection elemeents only and overwrite it in to s3
s3

{1, 3}

In [151]:
s3={1,2,3,"hai","apple"}
s4={3,1,"hello",5,6,7,"class"}
s4.intersection_update(s3) # it returns the intersection elemeents only and overwrite it in to s4
s4

{1, 3}

# isdisjoint()
- ity return True if two sets have a null intersection
- incase any one element will be interset 
- it return False as a output

In [160]:
s3={1,2,3,"hai","apple"}
s4={3,1,"hello",5,6,7,"class"}
s3.isdisjoint(s4)

False

In [162]:
s={1,2,3}
s1={10,20,30}
s.isdisjoint(s1)

True

# is subset()
- it report wheather another set contain this set
- it returns the boolean value
- the subset all values in set it gives True

In [165]:
s3={1,2,3,"hai","apple"}
s4={3,1,"hello",5,6,7,"class"}
s3.issubset(s4)

False

In [172]:
s1={1,3,2,4,5,6}
s={1,2,3}
s.issubset(s1)

True

# pop
- pop will remove and return the elements from the set
- raise error when set is empty
- pop randomly eliminated elements from the set

In [175]:
s4={3,1,"hello",5,6,7,"class"}

'hello'

In [179]:
s4={3,1,"hello",5,6,7,"class"}
s4.pop()

'hello'

In [181]:
s4.pop()

1

# remove()
- remove an element from the set 
- the element must be in a set
- if element is not in set 
- it raises an error

In [186]:
s4={3,1,"hello",5,6,7,"class"}
s4.remove("class")
s4

{1, 3, 5, 6, 7, 'hello'}

In [188]:
s4={3,1,"hello",5,6,7,"class"}
s4.remove(10)
s4

KeyError: 10

# union
- it returns the new set 
- it combines the two sets and make new set

In [4]:
s4={3,1,"hello",5,6,7,"class"}
s={9,8}
s2=s4.union(s)
s2

{1, 3, 5, 6, 7, 8, 9, 'class', 'hello'}

In [9]:
s={"apple",'mango'}
s1={'red','yellow'}
s2=s.union(s1)
s2

{'apple', 'mango', 'red', 'yellow'}

# update
- here Update a set with the union of itself and others.
- the sets are updated with the new value or set 
- this is the reason to say sets are mutable
- if we upsate the string it add single lettrs and extend the set

In [11]:
s={"apple",'mango'}
s1={'red','yellow'}
s.update(s1)
s

{'apple', 'mango', 'red', 'yellow'}

In [14]:
s={'apple', 'mango', 'red', 'yellow'}
s.update("fruits")
s

{'apple', 'f', 'i', 'mango', 'r', 'red', 's', 't', 'u', 'yellow'}

In [9]:
#2. Retrivethe uncommon elements from 2nd set and store it in set3 and add these all elements to the 1st set
     # Given:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}
set3= set2-set1
set1.update(set3)
print(set1)     



#Expected output:
#{10, 20, 30, 40, 50, 60, 70}

{10, 20, 30, 40, 50, 60, 70}

1. Given a Python set, write a program to add all its elements into a given set.
   sample_set = {"Yellow", "Orange", "Black"} 
   sample_list = ["Blue", "Green", "Red"]
   Expected output: Note: Set is unordered.
   {'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}

In [14]:
sample_set = {"Yellow", "Orange", "Black"} 
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Green', 'Yellow', 'Red', 'Blue', 'Black', 'Orange'}

# symmetric differennce

3. Write a Python program to return a new set with uncommon elements from both sets by removing common elements.
   Given:
   set1 = {"Hello","India","Iam"} 
   set2 = {"Iam","MSD","From","India"}
   Expected output:
   {"Hello","India","MSD","From","India"}

In [23]:
set1 = {"Hello","India","Iam"} 
set2 = {"Iam","MSD","From","India"}
s=set1.symmetric_difference(set2)
print(s)

{'MSD', 'Hello', 'From'}

In [41]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3=set1.symmetric_difference(set2)
u=set1.intersection(set2)
r=set3.union({tuple(u)})
print(r)

{20, 70, (40, 50, 30), 10, 60}

In [37]:
# Given sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

# Find elements present in set1 or set2, but not both
uncommon_elements = set1.symmetric_difference(set2)

# Identify common elements between the two sets
common_elements = set1.intersection(set2)

# Combine results with common elements as a tuple
result = uncommon_elements.union({tuple(common_elements)})

# Output the result
print(result)

{20, 70, (40, 50, 30), 10, 60}

In [51]:
a = {30,40,70,20} 
b = {20,50,60,40}
d=a.union(b)
c={str(element) for element in d}
print(c)

{'40', '70', '20', '30', '50', '60'}