In [ ]:
# tuple
- tuple is immutable
- tuple can accept the duplicate values
- index and slicing operation is allow
- to create a empty tuple using symbol '()' or tuple()

In [1]:
t=(1,2,3,4,5)
t[3]='a'

TypeError: 'tuple' object does not support item assignment

- intialization
- inbuilt-in-functions
- min
- max
- len
- sorted
- reversed
- print
- type
- index operation (for loop range vs in)
- mutable vs immutable
- concatenation
- slicing
- tuple methods

# create a tuple with different methods

# min
- it is a function it gives the min value from the tuple
- incase the tuple is empty we give min function it raises valueError

In [17]:
t=(1,1,3,4,5,5,8,4,9,10)
min(t)

1

In [19]:
min(1,2,3,4,5)

1

In [21]:
tt=()
min(tt)

ValueError: min() iterable argument is empty

# max
- it is a function it gives the max value from the tuple
- incase the tuple is empty we give max function it raises valueError

In [25]:
t=(1,1,3,4,5,5,8,4,9,10)
max(t)

10

In [27]:
t1=(87,90,56,43,12)
max(t1)

90

In [29]:
t2=()
max(t2)

ValueError: max() iterable argument is empty

# len
- len gives the length of the function 
- it gives the totl length of the tuple
- incase the list is empty it does not raise error it gives 0

In [32]:
t1=(87,90,56,43,12)
len(t1)

5

In [34]:
t2=(54,3,4,6,(6,7,8,9))
len(t2)

5

In [36]:
t3=()
len(t3)

0

# sorted
- it sorted the tuple as ascending order or decending order
- by default it gives ascending order 
- if we give return reversed=True then it gives decending order
- tuple in tuple it does give the output it raises type error

In [40]:
t2=(54,3,4,6,(6,7,8,9))
sorted(t2)

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [42]:
t2=(54,3,4,6,6,7,8,9)
sorted(t2)

[3, 4, 6, 6, 7, 8, 9, 54]

In [47]:
t2=(54,3,4,6,6,7,8,9)
sorted(t2,reverse=True)

[54, 9, 8, 7, 6, 6, 4, 3]

In [ ]:
# reversed
- it reverses the tuple from -1
-

In [59]:
t2=(54,3,4,6,(6,7,8,9))
l1=reversed(t2)

In [61]:
for i in l1:
    print(i)

(6, 7, 8, 9)
6
4
3
54

# print
- it prints the output

In [4]:
t2=(54,3,4,6,(6,7,8,9))

print(t2)

(54, 3, 4, 6, (6, 7, 8, 9))

# type
- it shows the type of the variable

In [9]:
t2=(54,3,4,6,(6,7,8,9))

print(t2)
type(t2)

(54, 3, 4, 6, (6, 7, 8, 9))

tuple

# index operations
- it works on the index value as a input
- and gives the output as a value in the tuple
- incase the index value is not in tuple it raises error value outof range

In [12]:
t=(1,2,3,4,'a','b','c')
#  -7-6-5-4-3   -2  -1
# (1,2,3,4,'a','b','c')
#  0 1 2 3  4  5    6
t[0]

1

In [14]:
t1=len(t)
for i in range(t1):
    print(f'the {i-t1} is (-) index and {i} is (+) index of {t[i]}')

the -7 is (-) index and 0 is (+) index of 1
the -6 is (-) index and 1 is (+) index of 2
the -5 is (-) index and 2 is (+) index of 3
the -4 is (-) index and 3 is (+) index of 4
the -3 is (-) index and 4 is (+) index of a
the -2 is (-) index and 5 is (+) index of b
the -1 is (-) index and 6 is (+) index of c

In [18]:
t2=(54,3,4,6,(6,7,8,9))
t2[4]

(6, 7, 8, 9)

In [88]:
t2=('a','b','c','red','blue')
for i in t2:
    a=t2.index(i)
    print(f'the {a-len(t2)} is (-) index and {a} is (+) index of {i}')

the -5 is (-) index and 0 is (+) index of a
the -4 is (-) index and 1 is (+) index of b
the -3 is (-) index and 2 is (+) index of c
the -2 is (-) index and 3 is (+) index of red
the -1 is (-) index and 4 is (+) index of blue

In [20]:
t2=(54,3,4,6,(6,7,8,9))
t2[5]

IndexError: tuple index out of range

In [23]:
l1=(1,2,3,(4,(5,('cherry'))))
l1[3][1][1][0]

'c'

In [25]:
l1=(1,2,3,(4,(5,('cherry'))))
l1[3][1][1]

'cherry'

# concatenation
- means it add the two tuple in to one list
- and it repeats the tuple with number

In [30]:
t=(1,2,3,4,5,)
t1=("hai","hello")
print(t+t1)

(1, 2, 3, 4, 5, 'hai', 'hello')

In [34]:
t1=("hai","hello")
t2=3
print(t1*t2)

('hai', 'hello', 'hai', 'hello', 'hai', 'hello')

# slicing
-  is used to access the elements
- we used index values to acess the elements
- in index only one element can access 
- in slicing we access multiple elements
- slicing does not give error it prints till last

In [37]:
tup=(1,2,3,4,5,'a','b','c','d','10.5',True,10.5,100,200)
tup[:]

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', '10.5', True, 10.5, 100, 200)

In [39]:
tup[-1:]

(200,)

In [41]:
tup[-1::-1]

(200, 100, 10.5, True, '10.5', 'd', 'c', 'b', 'a', 5, 4, 3, 2, 1)

In [43]:
tup[3:20:2]

(4, 'a', 'c', '10.5', 10.5, 200)

In [47]:
tup[:200]

(1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', '10.5', True, 10.5, 100, 200)

In [50]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# count
- it is a method in tupe it gives the no of accurence the vlaue
- it takes the input as value in tuple 
- and tells the no of it occured in the tuple

In [53]:
l5=(12,34,5,6,76,34,21,65,78,12,12,12)
l5.count(12)

4

In [55]:
l5=(12,34,5,6,76,34,21,65,78,12,12,12,'a','a','a')
l5.count('a')

3

# index
- it is a method in tuple
- and it takes the value as input and givees the index number

In [72]:
l5=(12,34,5,6,76,34,21,65,78,12,12,12,'a','a','a')
t=l5.index('a')
t

12

In [68]:
l5.index(12)

0

In [70]:
t1=l5.index('a',t+1)
t1

13