## Data types

- Python can say data type of the value with out intializing

- Which means the data type automatically consider

- Python has some inbulit datatype structure

- int : integer

- float

- str : string

- bool : boolean

- complex

- list

- tuple

- dict : dictionary

- set

- frozenset

- bytes

- bytearray

- memoryview

**integer**

In [1]:
num=100
type(num)

int

In [2]:
print(num)

100

In [ ]:
# we have numerical langauge
# age=20
# distance=20
# salry=20000
# mars 
# mars ==== earth
# how old are you = 7 years
# earth ==== > mars
# 0b111

**binary number system**

- digits: 0,1,2,3,4,5,6,7,8,9

- binary : bi means two  : 0 and 1

- representation is :  0b001,0b111,0b101,0B111

- wrong represntation is : o, 0b102

In [3]:
0b111

7

In [4]:
0b10101

21

In [5]:
0B1010

10

In [6]:
0b1111

15

In [ ]:
2^2=4   2^1=2   2^0=1
0         0       0       0
0         0       1       1
0         1       0       2
0         1       1       3
1         0       0       4
1         0       1       5
1         1       0       6
1         1       1       7

In [ ]:
2^3=8   2^2=4   2^1=2   2^0=1
0       0         0       0       0
0       0         0       1       1
0       0         1       0       2
0       0         1       1       3
0       1         0       0       4
0       1         0       1       5
0       1         1       0       6
0       1         1       1       7
1       0         0       0       8
1       0         0       1       9
1       0         1       0       10
1       0         1       1       11
1       1         0       0       12
1       1         0       1       13
1       1         1       0       14
1       1         1       1       15

In [9]:
0b1100,0b1110

(12, 14)

**octal number system**

- digits: 0,1,2,3,4,5,6,7,8,9

- octa : octa means 8  : 0,1,2,3,4,5,6,7

- representation is :  0o567,0o123,0O765

- wrong represntation is : 'o' as start, 0o789

In [10]:
0o123

83

In [11]:
0O4224

2196

**hexa number system**

- digits: 0,1,2,3,4,5,6,7,8,9

- hexa : hexa means 16  : 0,1,2,3,4,5,6,7,8,9,A=10,B=11,C=12,D=13,E=14,F=15

- representation is :  0x567,0X123,0Xabc

- wrong represntation is : 'o' as start, 0h67

In [12]:
0x123

291

In [13]:
0xabc

2748

**float**
- float numbers means continues point.
- float numbers means having some decimals
- intiger numbers means discrete points

In [4]:
number=100.25
type(number)

float

In [8]:
num=1.5
type(num)

float

- float point caan represent as exponential format  **e**

In [18]:
1e1 # 1*10
1e2 # 1*100
1e3 # 1*1000 # here e means exponetial of the number 1e1 as 1st one is num after denotes expnential after 3 denotes power of first number

1000.0

In [16]:
2e2 # 2*100

200.0

In [20]:
print(1e1)
print(1e2) 
print(1e3)

10.0
100.0
1000.0

In [26]:
print(1e-1) #1/10 here - denotes division
print(1e+1) #1*10 here + denotes the multiplication

0.1
10.0

In [24]:
1.12e-10 # it means 1.12/10000000000

1.12e-10

**Strings**

- Strings means english characters

In [46]:
name="venkatesh"
print(name)
type(name)    # we observe print in up and then print type the two out put comes

venkatesh

str

In [48]:
name="venkatesh"
type(name) 
print(name)   # here we observe code is same but order is change print given in last it prints nly out put not givem type

venkatesh

- entire english is in single quotes, then use double quotes to highlight the word
- entire english is in double quotes, then use double single to highlight the word

In [55]:
statement='''hello good morning
how are you '''
print(statement)   # multiple quotes are used as more lines considered as string

hello good morning
how are you

***Doc String***

- if we want to convey information to the user
- we will write a information before coading part
- is called as Doc String
- in jupiter note bokk only we use information in **markdown**
- but in vscode or any pycharm we donot have **markdown**option
- we can convey the information using **triple quoites**
- if we see any where triple quotes means the user trying to convey the information

**boolean**
- in boolean 0 means False other than 0 any value becomes True

In [60]:
value=True
type(value)

bool