In [1]:
def mul(a):
    return(a*a)
ans=mul(10)
ans

100

- lamda is a keyword used to write the function in a single line
- in a list comprehension we will write in single line
- it is same analogy
- it will reduce the time complexity

$pattern-1$
- function with 1-arugument

In [17]:
# sysntax
# function name=lamda<argument name>:<return ouput>
# in above
# function name: mul
# argument name: a
# return output: a*a
mul= lambda a : a*a
mul(100000)

10000000000

In [21]:
add= lambda a,b : a+b
add(30,3)

33

In [1]:
div=lambda a,b:a/b
div(9,3)

3.0

In [27]:
def cube(x):   # insteed of this we use lambda function
    return(x**3)
cube(10)

# this is lambda function we write i a single line 
cube1= lambda x: x**3
cube1(20)

8000

$pattern-2$
- function with two arguments

In [30]:
# syntax
# <function name>= lambda <arg-1>,<arg2>: return(output)
add= lambda a,b : a+b
add(30,3)

33

In [34]:
avg=lambda a,b,c: round((a+b+c)/3,2)
avg(10,20,26)

18.67

$pattern-3$
- function with default arguments

In [37]:
sub= lambda a,b=4: a-b
sub(9)

5

$pattern-4$
- if and else in function with lambda

In [40]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)
max(10,20)

20

In [44]:
# syntax
# <function name>= lambda <arg-1>,<arg2>: if_output if_condition else else_output

In [42]:
max=lambda a,b: a if a>b else b
max(40,30)

40

In [3]:
min=lambda a,b: a if a<b else b
min(55,88)

55

$pattern_5$
- list cases

In [47]:
list1=['hyd','mumbai','pune']
ans=[]
for i in list1:
    ans.append(i.capitalize())
ans

['Hyd', 'Mumbai', 'Pune']

In [7]:
list1=['hyd','mumbai','pune']
lambda i:i.title(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

In [49]:
# use lambda function
#lambda <variable>:<output>
lambda i : i.capitalize()

In [51]:
#lambda <variable>:<output>,<iterator>
lambda i : i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

In [53]:
#step1: #lambda <variable>:<output>
lambda i : i.capitalize()
# step-3 #lambda <variable>:<output>,<iterator>
lambda i : i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

# **map**
- map is used to combime the function and iterator

In [56]:
# step-3
# map(lambda <variable>:<output>,<iterator>)
map(lambda i : i.capitalize(),list1)

In [58]:
# step-4: when we apply the output we will store at address 
#so apply the lsit or truple to see the answer 
# # list(map(lambda <variable>:<output>,<iterator>))
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Mumbai', 'Pune']

In [62]:
list1=['hyd','chennai','mumbai','pune']
list(map(lambda i : i.upper(),list1))

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [66]:
list1=['hyd','chennai','mumbai','pune']
list(map(lambda i : list1.index(i)*10,list1))

[0, 10, 20, 30]

In [87]:
str1="hi hello how are you"
ans=list(map(lambda i: i.title(),str1.split()))
ans

['Hi', 'Hello', 'How', 'Are', 'You']

In [ ]:
lambda<variable>:<condition>
# donot write if condition
# don't write i

In [93]:
list1=['hyd','chen#ai','mu#bai','pune']
list(map(lambda i:'#' in i,list1)) # we need exact answer we go for filter

[False, True, True, False]

# **filter**
- whenever condition statement
- which means we are filter the answers based on condition
- map will give boolean outputs ,true or False
- true answers we can see by applying filter only

In [95]:
list1=['hyd','chen#ai','mu#bai','pune']
list(filter(lambda i:'#' in i,list1))

['chen#ai', 'mu#bai']

In [99]:
list1=['hyd','chen#ai','mu#bai','pune']
list(filter(lambda i:'#' not in i,list1))

['hyd', 'pune']

In [101]:
# avoid these mistakes
# mistake-1 don;t write if
# list(filter(lambda i:'#' in i,list1))

# mistake-2: don't write the out put i
# list(filter(lambda i:'#' in i,list1))

In [105]:
# with out lambda function
l1=[1,2,3,4,5]
summ=0
for i in l1:
    summ+=i
print(summ)

15

# **reduce operation**
- reduce is a method to write all inbuilt functions using lambda method
- it is available in a package called **func tools**

- level-1: reduce(lambda sum,i : sum+i,list1)
- level-2:reduce(lambda sum,i: sum+i,list1,sum<privise intial value>)
- in level-1 by default sum=0
- in level-2 we provide some intial value

In [111]:
import functools

In [113]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [121]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1)

15

In [123]:
# level-2 start with 300
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ+i,l1,300)

315

In [125]:
import functools
l1=[1,2,3,4,5]
functools.reduce(lambda summ,i:summ*i,l1)

120

In [127]:
import functools as ft
l1=[1,2,3,4,5]
ft.reduce(lambda summ,i:summ*i,l1)

120

In [129]:
from functools import reduce
l1=[1,2,3,4,5]
reduce(lambda summ,i:summ*i,l1)

120

In [ ]:
# all types of lambda functions
1) lambda <variable>:<output>
2) lambda <variable>:<if_output><if_condition> else<else_output>
3) map(lambda <variable>:<output>,iterator)
4) filter(lambda<variable>:<condition>,iterator)
5)reduce(lambda <var1><var2>:<output>,iterator)