- string concepts
- list concepts
- tuple concepts
- dictionary
- set operations
- list comprehension
- lamda functions
- file handling

# **strings
## part-1
- how to intialize the strings
- in built sunctions
  - type
  - print
  - len
  - max
  - min
  - reversed
  - sorted
- index operations
- concatenation
- mutable / immutable
- slicing
## part-2
# **string methods**
-

**Intialization**
- String represents in single quotes
- String represents in double quotes
- String represents in triple quotes
- when you print a string, the output shows as with out quotes
- A string with triple quotes, is called dot string
- if you want to highlight in word in the entire string
  - provide the entire string in single quote and highlight with double quote

In [9]:
str1="python"

In [11]:
type(str1)

str

In [13]:
str2='type'

In [17]:
type(str2)

str

**doc string**

In [20]:
str3='''hello python 
many students not coming today
cometo their dreams'''

In [24]:
print(str3)
type(str3)

hello python
many students not coming today
cometo their dreams

str

In [26]:
str4="i like 'python'"

In [30]:
print(str4)

i like 'python'

**some inbuilt functions**
- max()
- min()
- len()
- print()
- reversed()
- sorted()
- type()

In [34]:
max("venkatesh")

'v'

In [3]:
a=[1,2,3,4,5,6]
b=max(a)
b

6

In [36]:
min("venkatesh")

'a'

In [44]:
reversed("venkatesh")

In [46]:
sorted("venkatesh")

['a', 'e', 'e', 'h', 'k', 'n', 's', 't', 'v']

In [48]:
len('venkatesh')

9

In [50]:
type('venkatesh')

str

**sorted**
- sorted means sorting the letters based in ascii number
- there are two ways to sort the ascii number
  - ascending: small to high
  - descending: high to small

In [59]:
str1="python"
sorted(str1)  # by default ascending order

['h', 'n', 'o', 'p', 't', 'y']

- when you apply shift tab
- there is some arguments will be available
- focus on two arguments
  - iterable
  - reversed=False because of reversed = false by default it prints asscending order
  - if we want to change the order then change the default parameter value
  - reverse=True

In [62]:
sorted(str1,reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [64]:
sorted(str1,reverse=1)

['y', 't', 'p', 'o', 'n', 'h']

In [66]:
sorted(str1,reverse=2)

['y', 't', 'p', 'o', 'n', 'h']

In [72]:
#sorted(iterable=str1,reverse=True)# fails
#sorted(iterable=str1,True)# fails
#sorted(str1,=True)# fails

TypeError: sorted expected 1 argument, got 0

In [ ]:
sorted()
# we should not allowed to use iterable argument name while provide the input
# we should use the arguments name while provide the value after '/'
# we should not use the argument name before '/'
# iterable name argument is before '/'
# so do not use iterable name

In [ ]:
# *
# any function indicates star(* means )
# you can use any variable after*
# after * there are two arguments are there
# - key
# - reverse
# you can use both
# you can use any one
# you no need to use anything

In [ ]:
sorted("hello") # works
sorted(iterable="hello") # fails because not to use argument name before /

In [74]:
sorted("hello",reverse=True,key=len)

['h', 'e', 'l', 'l', 'o']

# **Reversed**

In [78]:
str1="venkatesh"
reversed(str1)

- here the output is stored in memory location
- if you want ot print the output
- there are two ways
- one is used for loop
- and another one is print output in list()

In [81]:
str1="venkatesh"
ans=reversed(str1)
for i in ans:
    print(i,end=' ')

h s e t a k n e v

In [83]:
#another way
str2="venkatesh"
ans=reversed(str2)
list(ans)

['h', 's', 'e', 't', 'a', 'k', 'n', 'e', 'v']

# **concatenation**

In [92]:
str1="hello"
str2="python"
#str1*str2# not works
str1+str2
#str1-str2 # not works
# str1/str2 not works

'hellopython'

In [94]:
str1*str2# not works

TypeError: can't multiply sequence by non-int of type 'str'

In [96]:
str1-str2 # not works

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
unsupported operand type(s) for -: 'str' and 'str'
 can't multiply sequence by non-int of type 'str'

In [104]:
"python"*3

'pythonpythonpython'

In [106]:
"python" + "pythion"

'pythonpythion'

**index**

In [ ]:
str1="python"
'p' 'y' 't' 'h' 'o' 'n' 
0    1   2   3   4   5
-6  -5  -4  -3  -2  -1

In [109]:
str1[0] # accessing the letters

'h'

In [113]:
str1[-3]

'l'

In [115]:
str1[::-1]

'olleh'

In [119]:
str1[-1:-4:-1]

'oll'

In [ ]:
str1="hello python"
-12-11-10 -9 -8 -7 -6 -5 -4 -3 -2 -1
h   e   l  l  o     p  y  t  h  o  n
0   1   2  3  4  5  6  7  8  9  10 11

In [10]:
str1="python"
for i in range(0,6):
    print(str1[i],end=" ")
# step 1= i=0 str1[0]=p
# step 2= i=1 str1[1]=y
# step 3= i=2 str1[2]=t
# step 4= i=3 str1[3]=h
# step 5= i=4 str1[4]=o
# step 6= i=5 str1[5]=n

p y t h o n

In [24]:
str1="python"
for i in range(0,6):
    print(str1[i],end=" ")

p y t h o n

In [26]:
str2="python"
for i in range(len(str2)):
    print(f' the positive index of str2{i} is {i}')

 the positive index of str20 is 0
 the positive index of str21 is 1
 the positive index of str22 is 2
 the positive index of str23 is 3
 the positive index of str24 is 4
 the positive index of str25 is 5

In [34]:
str2="python"
for i in range(len(str2)):
    print(f' the negative index of {str2[i]} is {i-6}')

 the positive index of p is -6
 the positive index of y is -5
 the positive index of t is -4
 the positive index of h is -3
 the positive index of o is -2
 the positive index of n is -1

In [38]:
# -6 is negative index, 0 is positive index for a letter p
n=len(str2)
for i in range(n):
    print(f'{i-n} is (-) index and {i} is (+) index of {str2[i]}')

-6 is (-) index and 0 is (+) index of p
-5 is (-) index and 1 is (+) index of y
-4 is (-) index and 2 is (+) index of t
-3 is (-) index and 3 is (+) index of h
-2 is (-) index and 4 is (+) index of o
-1 is (-) index and 5 is (+) index of n

**when to use range and when to use in operator**
- any problem if we work with index use range operator
- range operator will give index as well as character
- any problem if index is not use ful, only character is useful then go with **in**
- with in operator we can not get index

In [ ]:
# Q4) wap count the number of 'a' letters in a given string
# str1='hello python how are you'

# Q5) wap to find the index of 'a' letters in a given string
# str1='hello python how are you'

In [67]:
#Q4) ans
str1='ola ola ola'
count=0
for i in range(len(str1)):
    if str1[i]=='a':
        count+=1
print(f'the count of a is in sentence {count}')

the count of a is in sentence 3

In [75]:
#Q5) ans
str1='ola ola ola'
for i in range(len(str1)):
    if str1[i]=='a':
        print(f'the  index of a is in sentence {i}')

the  index of a is in sentence 2
the  index of a is in sentence 6
the  index of a is in sentence 10

In [63]:
#Q6) wap to get the sum of all indexes of  'a' letters in a given string
str1='ola ola ola'
sum=0
for i in range(len(str1)):
    if str1[i]=='a':
        sum+=i
print(f'the  sum of a is in sentence {sum}')

the  sum of a is in sentence 18

In [89]:
#Q7 ans
str1='hello how are you'
count=0
for i in str1:
    if i in 'aeiou':  # in if condition "in" is also used to check the alphabets are present or not so we use in operator instead of logical operators"==,!=,<=,>="
        print(i)
        count+=1
print("the number of vowels is in sentence",count)

e
o
o
a
e
o
u
the number of vowels is in sentence 7

In [99]:
#Q8) ans
c='hello how are you'
b=" "
a='aeiou'
count=0
for i in c:
    if i in a and i not in b:
        print(i)
        b+=i
        count+=1
print('the total count is:',count)

e
o
a
u
the total count is: 4

In [103]:
a='aeiou'
b="hello venkatesh"
c=" "
for i in b:
    if i in a and i not in c:
        print(i)
        c+=i   # this main to add the alphabet in empty string

e
o
a

In [39]:
a='aeiou'
b="hello venkatesh aaeiou"
c=" "
for i in b:
    if i in a and i not in c:
        print(i)
        c+=i

e
o
a
i
u

In [37]:
a='aeiou'
b="hello this is venkatesh"
c=' '
for i in b: # iterate the string in b
    count=0 # count variable intialize
    for j in b: # iterate to check common letters
        if i==j:# compare the iterative
            count+=1 #add the  letters more than 1
        if count>1:
            break # brak more than one letter
    if count==1:   # count one letter print
        #print(i,end=' ')
        c+=i # stores in empty string
for i in c: # iterate the empty string
    if i in a: # check the vowels in c
        print(i,end=' ') # print vowels in c

o a

In [5]:
a="aeiou"
b=input('enter a sentence')
c=" "
count=0
for i in b:
    if i in a:
        print(i)
        count+=1
print(f'the count of all vowels {count}')

enter a sentence namaste submadyahn

a
a
e
u
a
a
the count of all vowels 6

In [1]:
#Q8) ans wap to find the non repeated vowels in a given string

a="aeiou"
b=input("enter the sentence")
c=" "
count1=0
for i in b:
    count=0
    for x in b:
        if i==x:
            count+=1
        if count>1:
            break
    if count==1:
        #print(i,end=" ")
        c+=i
        
for i in c:
    if i in a:
        print(i)
        count1+=1
print(f'the non repeated vowels are {count1}')

enter the sentence namaste bagunnara

e
u
the non repeated vowels are 2

# **mutable and immutable**

In [ ]:
# mutable: change 
# immutable: no change
str1="welcome"
# i want to change "L" with 'l'
# can we change "l" with 'l'

- if the elements will change using indexing is called as mutable
- otherwise immutable

# **slicing**
- slice means peace of the string
- it is similar to for loop
  - start
  - stop
  - step

In [4]:
str1="hello how are you"
len(str1)

17

In [ ]:
-17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
h    e   l    l   o       h   o  w     a  r  e     y  o  u
0    1   2    3   4   5   6   7  8  9  10 11 12 13 14 15 16

**case 1**: str1[start:]

In [7]:
str1[0:]
# start = start value only
# not mention stop value it automatically takes last value

'hello how are you'

In [9]:
str1[5:]

' how are you'

In [13]:
str1[-5:]

'e you'

In [15]:
str1[-5:14]

'e '

# **case 2**

In [18]:
#-17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#h    e   l    l   o       h   o  w     a  r  e     y  o  u
#0    1   2    3   4   5   6   7  8  9  10 11 12 13 14 15 16
str1[-12:-2]
# start value=-12
# stop value=-2 -2-1=-3
# step = no but it takes positive value one

' how are y'

# **case-3**:[start:stop:step]

In [22]:
str1[2:15:2]

'lohwaey'

In [24]:
str1[2:15:-2]

''

In [26]:
str1[15:-2:-2]

''

In [28]:
str1[2:-14:2]

'l'

In [32]:
str1[2:250] # its also works because slicing only give the available part how much it cintains it gives

'llo how are you'

- intialization
- some inbuilt functions
- print
- type
- min
- max
- sorted
- reversed
- index
- slicing
- mutable vs immutable

# **methods**

In [36]:
name="venkatesh"
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
name.upper()

'VENKATESH'

In [54]:
name.lower()

'venkatesh'

In [56]:
name.casefold()

'venkatesh'

In [74]:
name.center(2)

'venkatesh'

In [76]:
name.capitalize()

'Venkatesh'

In [78]:
name.title()

'Venkatesh'

In [80]:
doc="""hi this is venkatesh
good evening
good night"""
doc.center()

'hi this is venkatesh\ngood evening\ngood night'

- out put not overwrite
- when ever apply the function
- always apply shift+tab
- then try to understand the arguments
- in that one argument name is called as **implace**
- implace=true means the result will be overwrite in original variable
- if implace are not availlable or implace=false the output should not be overwrite
- in upper case there is no arguments
- so when we apply upper the output will not overwrite

In [85]:
lower("PYTHON")

NameError: name 'lower' is not defined

# **METHODS VS INBUILD FUNCTIONS**
- inbuilt functions applicable for all python data types 
- ex: print,type,min,max....
- access: inbuilt_function(<value>)
- method is a specific use for different data types
- access: package.method_name()
- access: element.method_name()

In [91]:
"PYTHON".casefold()# it means it gives the caseless lower letters

'python'

In [93]:
str1="hello how are you"
str1.title()

'Hello How Are You'

In [95]:
"welcome".title()

'Welcome'

# **center**

In [112]:
str1="python"
a=str1.center(15,'$')
print(a)
len(a)

$$$$$python$$$$

15

In [114]:
# here center the spaces will gives equally and also filling the characters

In [116]:
str1="python"
a=str1.center(15,)
print(a)
len(a)

     python

15

In [118]:
str1="welcome"
str1.replace("l","u")

'weucome'

In [128]:
str1="wellllllllllcome"
str1.replace("l","u",11)

'weuuuuuuuuuucome'

In [47]:
str1="wellllllllllcome"

c=str1.count('co')
print(f'the no of times occured {c}')
# here count in string is used how mant times the letter should be occured in the string

the no of times occured 1

In [49]:
a='ho this is venkatesh malepati i love python'
b=a.count("s")
print(f'the given letter occured no of times in string')

3

In [67]:
hi="tell me your name "
c=hi.encode()
print(c)

b't?ll me your name '

In [73]:
value="venkatesh"
en_code=value.encode('ascii', 'replace')
print(en_code)

b'venkatesh'

In [81]:
hi="tell me your name "
c=hi.format({'45'})
print(c)

tell me your name

In [101]:
a="venkatesh"
vowel="aeiou"
print(a.find('aeiou'))

-1

# **strip in string**
- strip is in three types
- there are three types
  - left strip=lstrip===it removes the left side of the string spaces
  - rightstrip=rstrip== it removes the right side of the string spaces
  - strip=strip=== it removes the white spaces both sides of the string

In [140]:
h="***hai how are you"
v="hai how are you******"
c="****hai how are you******"
h.lstrip("*"),v.rstrip("*"),c.strip("*")

('hai how are you', 'hai how are you', 'hai how are you')

In [5]:
a="        venk atesh     "
b=a.strip()
print(b)

venk atesh

In [145]:
d="namaste bagunnara em chasetunnav"
f=d.isidentifieride()
print(f)

AttributeError: 'str' object has no attribute 'isidentifieride'

In [148]:
d="namaste bagunnara em chasetunnav"
help(d.isidentifier())

Help on bool object:

class bool(int)
 |  bool(x) -> bool
 |
 |  Returns True when the argument x is true, False otherwise.
 |  The builtins True and False are the only two instances of the class bool.
 |  The class bool is a subclass of the class int, and cannot be subclassed.
 |
 |  Method resolution order:
 |      bool
 |      int
 |      object
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from int:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Convert to a string according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  as_integer_ratio(self, /)
 |      Return a pair of integers, whose ratio is equal to the original int.
 |
 |      The ratio is in lowest terms and has a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  is_integer(self, /)
 |      Returns True. Exists for duck type compatibility with float.is_integer.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from int:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False)
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from int:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

In [152]:
d.isidentifier()

False

AttributeError: 'str' object has no attribute 'isidentifieride'

In [170]:
a="i=python is basic"
print(len(a))
b="v"
for i in a:
    for x in b:
        print(x,end=" #")
#it will print how many letters in a variable contains that times loop continues

17
v #v #v #v #v #v #v #v #v #v #v #v #v #v #v #v #v #

In [168]:
a="i=python is basic"
a.split()

['i=python', 'is', 'basic']

# **how to replace the only second letter**

In [14]:
str1='restart'
# ans:"resta$t"
str1.replace("r","$")

'$esta$t'

- till first 'r' is one string
- after first 'r' is the another string

In [17]:
str1='restart'
# ans:"resta$t"
s1=str1[0]
s2=str1[1:]
s3=s2.replace("r","$")
print(s1+s3)

resta$t

In [19]:
str1='restart'
# ans:"resta$t"
str1[::-1].replace("r","$",1)[::-1] # another way is to written the answer.

'resta$t'

# **index and find method**

# index

In [23]:
str1="hi hello how are you"
str1.index("w")

11

In [25]:
str1="hi hello how are you"
str1.index("l") # it gives the lowest index value only when there are multiple values

5

In [29]:
str1="hi hello how are you hai"
i1=str1.index('h') # it shows the first index of 'h'
i2=str1.index('h',i1+1) # we are sarching for 'h' from i1+1(0+1=1) increase the index til 'h'
i3=str1.index('h',i2+1) # we are sarching for 'h' from i2+1(3+1=1)increase the index til 'h'
i4=str1.index('h',i3+1) # we are sarching for 'h' from i3+1(9+1=1)increase the index til 'h'
i1,i2,i3,i4

(0, 3, 9, 21)

In [ ]:
str1="hi hello how are you hai"
i1=str1.index('h') # it shows the first index of 'h'
i2=str1.index('h',i1+1,) # we are sarching for 'h' from i1+1(0+1=1) increase the index til 'h'
i3=str1.index('h',i2+1) # we are sarching for 'h' from i2+1(3+1=1)increase the index til 'h'
i4=str1.index('h',i3+1) # we are sarching for 'h' from i3+1(9+1=1)increase the index til 'h'
i1,i2,i3,i4

In [31]:
# another way of this logic written
str1.index('h',str1.index('h',str1.index('h',str1.index('h')+1)+1)+1)

21

In [51]:
str2='restart restart'
s1=str2.index('r')
s2=str2.index('r',s1+1)
i1=str2[:s2+1]  # restar :strating : second_r_index+1
s3=str2[s2+1:]  # t restar : starting: end of the string
s4=s3.replace('r',"$",1)
i1+s4

'restart $estart'

# find
- this is used to find the value but it not shows the error
- incase the find letter is not there it gives -1
- find didnot gives any error

In [55]:
str1="hi hello how are you hai"
i1=str1.find('h') # it shows the first index of 'h'
i2=str1.find('h',i1+1) # we are sarching for 'h' from i1+1(0+1=1) increase the index til 'h'
i3=str1.find('h',i2+1) # we are sarching for 'h' from i2+1(3+1=1)increase the index til 'h'
i4=str1.find('h',i3+1) # we are sarching for 'h' from i3+1(9+1=1)increase the index til 'h'
i1,i2,i3,i4

(0, 3, 9, 21)

# find vs index
- index and find both are same to find the index of a letter
- if any substring not found index will throw error
- but find method will give -1

# **count**

In [60]:
str1="hai hai hai hai"
str1.count('a')

4

In [62]:
# it is basic method to improve the logic but insteed of this we use count method count()
str1="hai hai hai hai"   
count=0
for i in str1:
    if i=="a":
        count+=1
print(f'the count of a is {count}')

the count of a is 4

In [64]:
str1="hai hai hai hai"
str1.count('a',2,-1)

3

In [80]:
str1="hai hai hai hai"
str1.count('a',2,6) # start and end of the index

1

In [78]:
str1="hai hai hai hai"   
count=0
for i in str1:
    if i=='hai hai hai hai':
        count+=1
print(f'the count of a is {count}')

the count of a is 0

In [76]:
str1="hai hai hai hai"
str1.count('hai hai hai hai')

1

In [82]:
str1="hai hai hai hai"   
count=0
for i in str1:
    if i=='ha':
        count+=1
print(f'the count of a is {count}')

the count of a is 0

# **sliding wimdow approach**
# sliding window approach we will get the count of a substring

In [87]:
str1="hai hai hai hai"   
count=0
for i in range(len(str1)):
    if str1[i:i+3]=='hai':
        count+=1
print(f'the count of a is {count}')
# step1= i=0 if string str1[0:0+3]: hai=hai # true then count=1
# step2= i=1 if string str1[1:1+3]: 'ai '=hai # false
# step3= i=2 if string str1[2:2+3]: 'i h'=hai # false
# step4= i=3 if string str1[3:3+3]: ' ha'=hai # false
# step5= i=4 if string str1[4:4+3]: hai=hai # true then count=2

the count of a is 4

In [117]:
str1='virat.kohli@rcb.com'


# derive the code to get
# first name, second name,cname
# idea
# find the first dot index
# find the @ index
# find the second.index

s1=str1.index(".")
s2=str1.index('@')
s3=str1.index('.',s1+1)
first=str1[:s1]
second=str1[s1+1:s2]
company=str1[s2+1:s3]
print(f'first name {first}')
print(f'second name {second}')
print(f'company name {company}')


str2='rohith.sharma@mi.com'
r1=str2.index(".")
r2=str2.index('@')
r3=str2.index('.',r1+1)
first_=str2[:r1]
second_=str2[r1+1:r2]
company_=str2[r2+1:r3]
print(f'first name {first_}')
print(f'second name {second_}')
print(f'company name {company_}')


str3='m.dhoni@chennai.com'
s1=str3.index(".")
s2=str3.index('@')
s3=str3.index('.',s1+1)
first=str3[:s1]
second=str3[s1+1:s2]
company=str3[s2+1:s3]
print(f'first name {first}')
print(f'second name {second}')
print(f'company name {company}')

str4='omkar.nallagoni@cts.com'
s1=str4.index(".")
s2=str4.index('@')
s3=str4.index('.',s1+1)
first=str4[:s1]
second=str4[s1+1:s2]
company=str4[s2+1:s3]
print(f'first name {first}')
print(f'second name {second}')
print(f'company name {company}')

first name virat
second name kohli
company name rcb
first name rohith
second name sharma
company name mi
first name m
second name dhoni
company name chennai
first name omkar
second name nallagoni
company name cts

In [123]:
def separation():
    str1=input('enter the data ')
    s1=str1.index(".")
    s2=str1.index('@')
    s3=str1.index('.',s1+1)
    first=str1[:s1]
    second=str1[s1+1:s2]
    company=str1[s2+1:s3]
    print(f'first name {first}')
    print(f'second name {second}')
    print(f'company name {company}')

In [125]:
separation()

enter the data  omkar.nallagoni@cts.com

first name omkar
second name nallagoni
company name cts

In [129]:
def virat():
    str1='virat.kohli@rcb.com'
    s1=str1.index(".")
    s2=str1.index('@')
    s3=str1.index('.',s1+1)
    first=str1[:s1]
    second=str1[s1+1:s2]
    company=str1[s2+1:s3]
    print(f'first name {first}')
    print(f'second name {second}')
    print(f'company name {company}')
def rohith():
    str2='rohith.sharma@mi.com'
    r1=str2.index(".")
    r2=str2.index('@')
    r3=str2.index('.',r1+1)
    first_=str2[:r1]
    second_=str2[r1+1:r2]
    company_=str2[r2+1:r3]
    print(f'first name {first_}')
    print(f'second name {second_}')
    print(f'company name {company_}')

def dhoni():
    str3='m.dhoni@chennai.com'
    s1=str3.index(".")
    s2=str3.index('@')
    s3=str3.index('.',s1+1)
    first=str3[:s1]
    second=str3[s1+1:s2]
    company=str3[s2+1:s3]
    print(f'first name {first}')
    print(f'second name {second}')
    print(f'company name {company}')
def omkar():
    str4='omkar.nallagoni@cts.com'
    s1=str4.index(".")
    s2=str4.index('@')
    s3=str4.index('.',s1+1)
    first=str4[:s1]
    second=str4[s1+1:s2]
    company=str4[s2+1:s3]
    print(f'first name {first}')
    print(f'second name {second}')
    print(f'company name {company}')

choice=input('enter the name which details you want\nvirat\nrohith\ndhoni\nomkar\n')

if choice=="virat":
    virat()
elif choice=="rohith":
    rohith()
elif choice=="dhoni":
    dhoni()
elif choice=="omkar":
    omkar()
else:
    print('enter a valid choice')

enter the name which details you want
virat
rohith
dhoni
omkar
 rohith

first name rohith
second name sharma
company name mi

# starts with and ends with

In [143]:
str1="how are you"
str1.startswith('how')

True

In [145]:
str1.endswith('you')

True

In [147]:
str1.endswith('u')

True

In [160]:
str1.endswith(' ')

False

**split**

In [152]:
str1="hello how are you"
str1.split()
#for i in range()

['hello', 'how', 'are', 'you']

In [154]:
str1="hello&how&are&you"
str1.split('&')

['hello', 'how', 'are', 'you']

In [156]:
str1="hello how are you"
str1.split('h')

['', 'ello ', 'ow are you']

In [158]:
str1="hello how are you"
str1.split('a')

['hello how ', 're you']

In [ ]:
# in a given sentence find the most repeated word
# ina given dentence find the min max length of word
# ina given sentence most occured second max length of word
# sliding window
# strings===list vise versa

In [ ]:
#'isalnum',
#'isalpha',
#'isascii',
#'isdecimal',
#'isdigit',
#'isidentifier',
#'islower',
#'isnumeric',
#'isprintable',
#'isspace',
#'istitle',
#'isupper',

# **is alnum**
- is alnum gives the boolean values as output
- is alnum when the string contains both alphabets and numeric
- it gives true when both contains or any one of them it gives true

In [1]:
str2="python"
str2.isalnum()

True

# **isalpha**
- is alpha gives the boolean values as output
- is alpha only alphabets are true
- numbers and special characters are present it gives false as out put

In [5]:
str2="python"
str2.isalpha()

True

In [7]:
str2="python123"
str2.isalpha()

False

In [9]:
str2="@#python"
str2.isalpha()

False

# **isascii**
- Return True if all characters in the string are ASCII, False otherwise.
- 
ASCII characters have code points in thRange7F- .
Empty string ascii.
- it does not gives error. oo.

In [15]:
str2="@#python"
str2.isascii()

True

In [17]:
str2="   "
str2.isascii()

True

In [19]:
str2=" #"
str2.isascii()

True

# **isdecimal**
- return true if the string is a decimal string False otherwise 
- A string is a decimal string if all characters in the string are decimal and there
  is at least one character in the string

In [31]:
str2="python"
str2.isdecimal()

False

In [33]:
str2="7.882"
str2.isdecimal()

False

In [35]:
str2="7882"
str2.isdecimal()

True

# **isdigit**
- return True if the string is a digit string, False otherwise
- A string is a digit string if all characters in the string are digits and
- there is atleast one character in the string

In [37]:
str2="python123"
str2.isdigit()

False

In [39]:
str2="1234"
str2.isdigit()

True

# **isidentifier**
- Return True if the string a valid python identifier, false otherwise.
- call keyword.iskeyword(s) to test whether string s is a reserved identifier
- such as "def" or "class"
- isidentifier true when a valid identifier if it only contains alphanumeric letters (a-z)&(0-9) or underscore(_).
- A valid identifier cannot start with a number, or contains any spaces it gives false
- isidentifier deos not have any parameters

In [42]:
str2.isidentifier()

False

In [1]:
v="venkatesh"
v.isidentifier()

True

In [3]:
e="1234"
e.isidentifier()

False

In [6]:
n="python123"
n.isidentifier()

True

In [8]:
n="python_12345"
n.isidentifier()

True

In [10]:
k="pyth on"
k.isidentifier()

False

# islower
- Return true if the string is a lowercase, otherwise false
- A string is lower case in all the characters are also in lower case
- and there is at least one cased characters in the string
- except capital letters any thing in the string it takes as a lower case

In [12]:
s="venkatesh"
s.islower()

True

In [14]:
s1="Venkatesh"
s1.islower()

False

In [16]:
s2="pyrhon1"
s2.islower()

True

In [18]:
s3="123python"
s3.islower()

True

In [20]:
s4="python&%@123"
s4.islower()

True

In [23]:
s5="heLLo@python"
s5.islower()

False

In [31]:
s6="pytho n"
s6.islower()

True

# isnumeric
- Return True if the string is a numeric string, otherwise False
- A string is a numeric if all the characters are also numeric in the string
- and there is atleast one character in the string
- in case one letter is another than numbers it gives false

In [27]:
n="1234567"
n.isnumeric()

True

In [33]:
n1="1234567 "
n1.isnumeric()

False

In [35]:
n2="1234567a"
n2.isnumeric()

False

In [37]:
n3="9542597018"
n3.isnumeric()

True

# isprintable
- Return True if the string is printable, False otherwise.
- A string is printable if all of its characters are considered printable in
repr() or if it is empty.

In [39]:
p="hello how are you"
p.isprintable()

True

In [42]:
p1=""
p1.isprintable()

True

In [44]:
p2="@#$%"
p2.isprintable()

True

In [46]:
p3="1234 5"
p3.isprintable()

True

# isspace
- Return True if the string is a whitespace string, False otherwise.
- A string is whitespace if all characters in the string are whitespace and there
is at least one character in the string.
- all the string contain space only other than space any single character it give False

In [48]:
s="wel come"
s.isspace()

False

In [51]:
s="    "
s.isspace()

True

In [62]:
s1="   space"
s1.isspace()

False

In [64]:
s2=''
s2.isspace()

False

# istitle
- Return True if the string is a title-cased string, False otherwise.
- In a title-cased string, upper- and title-case characters may only
follow uncased characters and lowercase characters only cased ones.
- only title in the string  it gives true other wise it givs false

In [66]:
t="Python Welcome"
t.istitle()

True

In [69]:
t1="Python welcome"
t1.istitle()

False

In [71]:
t="Python"
t.istitle()

True

In [73]:
t="Wel come"
t.istitle()

False

# isupper
- Return True if the string is an uppercase string, False otherwise.
- A string is uppercase if all cased characters in the string are uppercase and
there is at least one cased character in the string.
- it gives False when the string contain lower character only
- other than lower character any thing it gives along with upper case it gives true

In [76]:
u="PYTHON"
u.isupper()

True

In [78]:
u1="Python"
u1.isupper()

False

In [80]:
u2="PYTHON HI"
u2.isupper()

True

In [82]:
u3="WELCOME @ $12234"
u3.isupper()

True

In [89]:
u4="123@#$"  # atleast one upper case letter in the string
u4.isupper()

False

In [91]:
u4="H123@#$"
u4.isupper()

True