# print statement

In [4]:
num1=30
num2=20
print(num1)
print(num2)

30
20

In [5]:
num1=30
num2=20
print(num1),print(num2)
num1,num2

30
20

(30, 20)

In [2]:
num1=30
num2=20
print(num1),print(num2)

30
20

(None, None)

In [3]:
num1=30
num2=20
print(num1,num2)

30 20

In [7]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of',a,'and',b,'is',c)

the addition of 100 and 200 is 300

In [8]:
name ='python'
age=10
city='hyd'
# my name is python im 10 years old and from hyd
print('my name is',name,'im',age,'years old and from',city)

my name is python im 10 years old and from hyd

## formate method

In [10]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of100 and 200 is c')
print('the addition of {} and {} is{}'.format(a,b,c))

the addition of100 and 200 is c
the addition of 100 and 200 is300

In [11]:
name ='python'
age=10
city='hyd'
# my name is python im 10 years old and from hyd
print('my name is {} i am {}years old and from {}'.format(name,age,city))

my name is python i am 10years old and from hyd

In [6]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
# the addition of 100 and 200 is 300
# the subtraction of 100 and 200 is -100
# the multiplecation of 100 and 200 is 2000
# the divison of 100 and 200 is 0.5

print('the addition of {} and {} is {}'.format(n1,n2,add))
print('thr subtract of {} and {} is {}'.format(n1,n2,sub))
print('the multiplecation of {} and {} is {}'.format(n1,n1,mul))
print ('the division of {} and {} is {}'.format(n1,n2,div))

the addition of 100 and 200 is 300
thr subtract of 100 and 200 is -100
the multiplecation of 100 and 100 is 20000
the division of 100 and 200 is 0.5

## f string

In [13]:
a=100
b=200
c=a+b
# the addition of 100 and 200 is 300
print('the addition of100 and 200 is c')
print(f'the addition of {a} and {b} is {c}')

the addition of100 and 200 is c
the addition of 100 and 200 is 300

In [12]:
n1=100
n2=200
add=n1+n2
sub=n1-n2
mul=n1*n2
div=n1/n2
# the addition of 100 and 200 is 300
# the subtraction of 100 and 200 is -100
# the multiplecation of 100 and 200 is 2000
# the divison of 100 and 200 is 0.5

print(f'the addition of {n1} and {n2}) is {add}')
print(f'the sutraction of {n1} and {n2} is {sub}')
print(f'the multiplecation of{n1} and {n2} is {mul}')
print(f'the division of {n1},and {n2} is {div}')

the addition of 100 and 200) is 300
the sutraction of 100 and 200 is -100
the multiplecation of100 and 200 is 20000
the division of 100,and 200 is 0.5

- we have a situation wants to combine two print statements

$end$

In [15]:
print(20,end='******') 
print(30)

20******30

In [16]:
print(1,end=' ')
print(2,end='  ')
print(3)

1 2  3

### seperator
- we want to seperate multipal varaibals in one print statements

In [17]:
print(20,30,50,sep='=')

20=30=50

- end operator used to combine multiple print statements

- sep operator use to seperate the multiple variables in a single print statements

In [18]:
print('the addition of 3+4 is',3+4,'.')

the addition of 3+4 is 7 .

In [22]:
# use formate 
# use f string
# use sep
a=3
b=4
c=a+b
# the addition of 3 and 4 is 7
print('the addition of 3 and 4 is 7')
print('the addition of {} and {} is{}'.format(a,b,c))

print(f'the addition of {a} and{b} is{c}')

print('the addition of 3+4 is',3+4,'.',sep='')

the addition of 3 and 4 is 7
the addition of 3 and 4 is7
the addition of 3 and4 is7
the addition of 3+4 is7.

- basic
- format
- f string
- end
- sep