***try and except***
- try and exception are two blocks original code 
- we will write under try block
- if any error occurs in original code it will redirect to except block
- except block will catch the errors in try block

In [6]:
n1=10
n2=20
add=n1+n2
print(add)

30

In [2]:
try:
    n1=10
    n2=20
    add=n1+n2
    print(add)

SyntaxError: incomplete input (1159976593.py, line 5)

In [8]:
try:
    n1=10
    n2=20
    add=n1+n2
    print(add)
except:
    print('hello the code is not good')

30

# here we observe from the above when we add the code in try block then compalsary except block is there in the code

In [12]:
try:
    n1=10
    n2=20
    add=n1+n22 # here we do the mistake then except the block gives the answer
    print(add)
except:
    print('hello the code is not good')

hello the code is not good

In [ ]:
try:
    <write the original code here>
except:
    <catch the error here>

# here we print the exact error in the code

In [19]:
try:
    n1=10
    n2=20
    add=n1+n22 
    print(add)
except Exception as e: # this will give the error name
    print(e)

name 'n22' is not defined

In [23]:
n1=eval(input('enter n1'))
n2=eval(input('enter n2'))
div=n1/n2
print(div)

enter n1 100
enter n2 0

ZeroDivisionError: division by zero

In [25]:
try:
    n1=eval(input('enter n1'))
    n2=eval(input('enter n2'))
    div=n1/n2
    print(div)
except Exception as e:
    print(e)

enter n1 100
enter n2 0

division by zero

In [27]:
try:
    n1=eval(input('enter a number 1'))
    n2=eval(input('enter a number 2'))
    n3=eval(input('enter a number 3'))
    if n1>n2:
        if n1>n3:
            print(f'{n1} is greater')
        else:
            print(f'{n3} is greater') 
    elif n2>n3:
         print(f'{n2} is greater')
    else:
         print(f'{n3} is greater')
except Exception as e:
    print(e)

enter a number 1 45
enter a number 2 75
enter a number 3 50

75 is greater

In [29]:
try:
    n1=eval(input('enter a number 1'))
    n2=eval(input('enter a number 2'))
    n3=eval(input('enter a number 3'))
    if n1>n2:
        if n11>n3:
            print(f'{n1} is greater')
        else:
            print(f'{n3} is greater') 
    elif n2>n3:
         print(f'{n2} is greater')
    else:
         print(f'{n3} is greater')
except Exception as e:
    print(e)

enter a number 1 45
enter a number 2 34
enter a number 3 21

name 'n11' is not defined

In [31]:
n1=10
print(n1)
n2=20
print(n2)
n1+n234
print('hello')   # here i want to  print hello but it not gives because the line by line it stops the code

10
20

NameError: name 'n234' is not defined

In [39]:
try:
    n1=10
    print(n1)
    n2=20
    print(n2)
    n1+n234
except Exception as e:
    print(e,'\nhello')    # here hello will print and its leave the error part and next part will print

10
20
name 'n234' is not defined
hello